<!doctype html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <title>Welcome pag1...</title>



</head>

<body>





    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-white p-4">
                <a class="navbar-brand " th:href="@{/}">Home</a>
                <a class="navbar-brand " th:href="@{/feeds}">Feed-Back</a>
                <a class="navbar-brand " th:href="@{/gallery}">Gallery</a>
                <a class="navbar-brand " th:href="@{/research}">Research</a>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


    <!--end navbar-->

    <!--head-->

    <div class="head-container ">
        <marquee direction="right">
            <h1 class="text-center mt-3 heading">
                <span class="star">★</span>
                ...Welcome...
                <span class="star">★</span>
            </h1>
        </marquee>



    </div>
    <!--head-->

    <!--my skills-->

    <h1 class="text-center mt-5">...About Me...</h1>

    <div class="container-fluid">
        <p class="text-break">
            I Mujahid Pasha, graduate in Medical Imaging Technology, having gained
            comprehensive knowledge and hands-on experience in diagnostic imaging procedures used in
            the medical field. Throughout my academic training, I have developed proficiency in
            operating a variety of imaging modalities, including X-ray, MRI, CT scans. My studies
            focused on the technical aspects of these imaging techniques, as well as
            their clinical applications in diagnosing and monitoring various medical conditions.
            In addition to my technical training, I have a solid foundation in patient care,
            understanding the importance of patient comfort, safety, and clear communication in
            a clinical environment. I am well-versed in protocols for patient preparation, positioning,
            and ensuring safety during imaging procedures, especially regarding radiation exposure and
            other related risks. I am also experienced in maintaining proper records
            and adhering to healthcare standards for confidentiality and ethical practices.
            As a Medical Imaging Technology graduate, I am eager to apply my knowledge in a
            professional healthcare environment, contributing to accurate diagnoses and improved
            patient outcomes through the use of advanced imaging technologies. I am committed to
            continuing my professional development in this field, keeping up to date with the
            latest technological advancements and best practices in medical imaging.
        </p>
        <div>
            <img src="/images/signature.jpeg" alt="signature image" id="signature">
        </div>
    </div>

    <!--hhh-->

    <!--skills-->
    <h1 class="text-center mt-3">...Skills...</h1>


    <!--</div>-->

    <div class="flex-container mt-5">
        <div class="image-div">
            <img src="/images/CT-images.jpg" alt="CT image">
            <div class="image-desc">
                <p>CT SCAN</p>
            </div>
        </div>
        <div class="image-div">
            <img src="/images/x-ray image.jpg" alt="X-rary image">
            <div class="image-desc">
                <p>X-RAY SCAN</p>
            </div>
        </div>
        <div class="image-div">
            <img src="/images/MRI-image.jpg" alt="MRI image">
            <div class="image-desc">
                <p>MRI SCAN</p>
            </div>
        </div>

    </div>







    <!---end--->

    <!--feedback-->

    <!--feedEnd-->

    <!--footer-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">Mujahid Pasha</span>
                <span class="mb-3 mb-md-0 text-muted">© 2025 </span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>

            </ul>
        </footer>
    </div>

    <!--end-foot-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>