<!doctype html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/research.css}">

    <title>Welcome pag1...</title>



</head>

<body>


    <!--navbar-->
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-white p-4">
                <a class="navbar-brand " th:href="@{/}">Home</a>
                <a class="navbar-brand " th:href="@{/feeds}">Feed-Back</a>
                <a class="navbar-brand " th:href="@{/gallery}">Gallery</a>
                <a class="navbar-brand " th:href="@{/research}">Research</a>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <!--end navbar-->

    <!--head-->

    <div class="head-container">
        <marquee direction="right">
            <h1 class="text-center mt-3 heading">
                <span class="star">★</span>
                ..My Research..
                <span class="star">★</span>
            </h1>
        </marquee>

    </div>
    <!--main image block-->
    <div class="main-scroll">
        <div class="scroll-container">
            <img th:src="@{/images/researchimages/nine.jpg}" alt="Cinque Terre" width="555" height="400">
            <img th:src="@{/images/researchimages/eight.jpg}" alt="Cinque Terre" width="555" height="400">
            <img th:src="@{/images/researchimages/seven.jpg}" alt="Cinque Terre" width="555" height="400">
            <img th:src="@{/images/researchimages/six.jpg}" alt="Cinque Terre" width="555" height="400">
        </div>
    </div>

    <!--end main-->


    <!---gallery images--->
    <div class="flex-container mt-5">
        <div class="image-div">
            <img th:src="@{  /images/researchimages/image13.jpeg}" alt="image13" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image14.jpeg}" alt="image14" />
        </div>
        <div class="image-div">
            <img th:src="@{  /images/researchimages/image15.jpeg}" alt="image15" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image16.jpeg}" alt="image16" />
        </div>
    </div>

    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{/images/researchimages/image17.jpeg}" alt="image17" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image18.jpeg}" alt="image18" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image19.jpeg}" alt="image19" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image20.jpeg}" alt="image20" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{/images/researchimages/image21.jpeg}" alt="image21" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image22.jpeg}" alt="image22" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image23.jpeg}" alt="image23" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image24.jpeg}" alt="image24" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{/images/researchimages/image25.jpeg}" alt="image25" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image26.jpeg}" alt="image26" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image27.jpeg}" alt="image27" />
        </div>
        <div class="image-div">
            <img th:src="@{/images/researchimages/image28.jpeg}" alt="image28" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image29.jpeg}" alt="image29" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image30.jpeg}" alt="image30" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image31.jpeg}" alt="image31" />
        </div>
        <div class="image-div">
            <img th:src="@{ /images/researchimages/image32.jpeg}" alt="image32" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image33.jpeg}" alt="image33" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image34.jpeg}" alt="image34" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image35.jpeg}" alt="image35" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image36.jpeg}" alt="image36" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image37.jpeg}" alt="image37)" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image38.jpeg}" alt="image38" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image39.jpeg}" alt="image39" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image40.jpeg}" alt="image40" />
        </div>
    </div>


    <div class="flex-container mt-4">
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image41.jpeg}" alt="image41" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image42.jpeg}" alt="image42" />
        </div>
        <div class="image-div">
            <img th:src="@{   /images/researchimages/image43.jpeg}" alt="image43" />
        </div>
        <div class="image-div">
            <img th:src="@{  /images/researchimages/image44.jpeg}" alt="image44" />
        </div>
    </div>



    <!--end gallery-->




    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">Mujahid Pasha</span>
                <span class="mb-3 mb-md-0 text-muted">© 2025 </span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>

            </ul>
        </footer>
    </div>

    <!--end-foot-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>